virtualenv
venv
*/venv
**/*.pyc
*.cache
webpack-stats.*
.vscode
*.sqlite3
**/__pycache__
**/.DS_Store
**/db_data

# preserve folder structure with dummy gitinclude file
manager/config/**
!manager/config/.gitinclude
manager/media/thumbnails/**
!manager/media/thumbnails/.gitinclude
manager/ui_framework/tests/media/thumbnails/**
!manager/ui_framework/tests/media/thumbnails/.gitinclude
