virtualenv
venv
*/venv
**/*.pyc
*.cache
webpack-stats.*
.vscode
*.sqlite3
**/__pycache__
**/.DS_Store
**/db_data
manager/media

# preserve folder structure with dummy gitinclude file 
manager/ui_framework/tests/media/thumbnails/**
!manager/ui_framework/tests/media/thumbnails/.gitinclude