aioredis
alabaster
asgiref
asn1crypto
astropy
async-timeout
atomicwrites
attrs
autobahn
Automat
Babel
certifi
cffi
channels
channels-redis
chardet
constantly
coreapi
coreschema
cryptography
daphne
Django
django-auth-ldap
django-cors-headers
django-webpack-loader
djangorestframework
docutils
drf-yasg
entrypoints
flake8
freezegun
hiredis
hyperlink
idna
imagesize
importlib-metadata
incremental
inflection
itypes
Jinja2
jsonschema
m2r
MarkupSafe
mccabe
mistune
more-itertools
msgpack
numpy
packaging
pluggy
psycopg2
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
Pygments
PyHamcrest
pyparsing
pyrsistent
pytest
pytest-asyncio
pytest-django
pytest-env
python-dateutil
python-ldap
pytz
PyYAML
requests
ruamel.yaml
ruamel.yaml.clib
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
Twisted
txaio
uritemplate
urllib3
wcwidth
zipp
zope.interface
